* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial;
}

body{
    height: 100vh;
    background: url('image/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.box{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

h1{
    
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    
}

input[type="text"]{
    border-radius: 20px;
    height: 35px;
    width: 40%;
    margin-top: 20px;
    text-align: center;
    
    /* box-shadow: 2px 2px; */
}

.result{
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    display: grid;
    grid-template-areas: "titre titre"
                         "list  img";
    grid-gap: 5px;
                
    max-width: 70%;
    height: 60%;
    border-radius: 10px;
    margin: 10px auto;
}

.global_weather{
    grid-area: titre;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.global_weather h2{
    margin-left: 20px;
}

.global_weather p{
    font-size: 2em;
    font-family:Arial;
    font-weight: bold;
    
}
.icon_weather{
    margin-right: 20px;
    width: 9vw;
}

.list{
    
    grid-area: list;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.icon{
    /* grid-area: img; */
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    justify-items: center;
    align-items: center;
    

}

        .button {
            box-shadow:inset 0px 1px 0px 0px #efdcfb;
            background:linear-gradient(to bottom, #757dec 5%, #5e56d1 100%);
            background-color:#3f3db6;
            border-radius:6px;
            border:1px solid #8684f3;
            display:flex;
            justify-content: center;
            align-items:center;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:15px;
            font-weight:bold;
            padding:6px 24px;
            text-decoration:none;
            text-shadow:0px 1px 0px #9752cc;
            height: 80%;
            width: 80%;

           
        }
        .button:hover {
            background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
            background-color:#bc80ea;
        }
       
            
        
          /* on génère un élément :after lors du survol et du focus :*/
          
         
       