* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url('image/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.box{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
}

h1{
    
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    
}

input[type="text"]{
    border-radius: 20px;
    height: 35px;
    width: 40%;
    margin-top: 20px;
    text-align: center;
    box-shadow: 2px 2px;
}

.result{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    display: grid;
    grid-template-areas: "titre titre"
                         "list  img";
    grid-gap: 5px;
                
    width: 50%;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
}

.sous-titre{
    grid-area: titre;
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
}

.list{
    grid-area: list;
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
}

.icon{
    grid-area: img;
    width: 100%;
    height: 100%;
    background-color: aqua;
    border-radius: 10px;
}